**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/docs/screenshots
**/*.db
**/*.db-journal
**/*.db-shm
**/*.db-wal
**/*.log
tests/
SampleExcel.xlsx
~$SampleExcel.xlsx
node_modules/
.neon/
.env*
neon.ts
